.songRow {
  display: flex;
  text-align: left;
  align-items: center;
  color: #b3b3b3;
  padding: 7px 0;
  font-size: 14px;
}

.songRow__title {
  display: flex;
  padding-left: 12px;
}

.songRow__titleInfo {
  overflow: hidden;
}

.songRow__titleInfo > h1 {
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: normal;
  text-transform: none;
}

.songRow:hover {
  cursor: pointer;
  background-color: #121212;
  opacity: 0.8;
}

.songRow__titleInfo > p {
  font-size: 12px;
  margin-top: 3px;
}

.songRow__albumImg {
  height: 40px;
  width: 40px;
  padding-right: 12px;
}

.fixed-width {
  display: flex;
  width: 3%;
}

.songRow__title {
  width: 45%;
}

.songRow__album {
  width: 25%;
}

.songRow__dateAdded {
  width: 15%;
}

.songRow__duration {
  width: 12%;
}
